body
{
  background-color: #b6afaf;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#banner{
background-image: url("QuizBanner2.jpg");
background-repeat: no-repeat;
width: 960px;
height: 210px;
margin-left: 35px;
margin-bottom: -30px;
}

#quizArea{
  width: 960px;
  height: 600px;
  border: 1px;
  padding: 20px;
}
#playerNameArea{
  width: 300px;
  height: 500px;
  float: left;
  background-color: #ebd7d770;
  margin: 5px;
  padding: 5px;
}
#welcomePlayer{
  font-size: 2em;
  text-align: center;
}
h3{
  margin: 5px;
}

#name{
  width: 200px;
  Height: 30px;
  font-size: 2em;
  border:2px solid #03311c;
  border-radius: 5px;
  background-color: #e9f1e9;
}

#nameButton, #startGame{

  border:5px outset #66b890;
  margin-top: 10px;
  font-size: 1.5em;
}
#playername 
{
  background:#2C5825;
  text-align: center;
  font-size: 3em;
  color:white;
  width:280px;
  padding:3px;
  margin:5px 5px 5px 5px;
  border-radius: 5px;
}


#gameArea{
  width: 300px;
  height: 500px;
  background-color: #b4c4ae;
  float:left;
  margin: 5px;
  padding: 5px;
}

#startGame
{
font-size: 3em;
margin-left: 16px;
}

#Question{
  border:1px solid #797a7a;
  border-radius: 20px;
  height: 170px;
  margin-top: 20px;
}
#displayQuestion{
  font-size: 1.5em;
  margin: 5px;
}
#displayAlternative{
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1.2em;
}

#highscoreAre{
  width: 300px;
  height: 500px;
  float: right;
  background-color: #8fbee4;
  margin: 5px;
  padding: 5px;
}




