body
{
  background-color: #2C5825;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#banner{
background-image: url("../image/QuizBanner2.jpg");
background-repeat: no-repeat;
width: 960px;
height: 210px;
margin-left: 20px;
margin-bottom: -26px;
}

#quizArea{
  width: 960px;
  height: 600px;
  border: 1px;
  padding: 20px;

}
#playerNameArea{
  width: 300px;
  height: 500px;
  float: left;
  background-color: #b4c4ae;
  margin: 5px;
  padding: 5px;
  margin-left: 0px;
}
#welcomePlayer{
  font-size: 2em;
}
h3{
  margin: 5px;
}

#name, #response{
  width: 200px;
  font-size: 2em;
  border:2px solid #03311c;
  border-radius: 5px;
  background-color: #e9f1e9;
  padding: 5px;
}

#nameButton, #startGame, #answerButton{

  border:5px outset #66b890;
  margin-top: 10px;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 5px;
}
#playername 
{
  background:#2C5825;
  text-align: center;
  font-size: 3em;
  color:white;
  width:280px;
  padding:3px;
  margin:5px 5px 5px 5px;
  border-radius: 5px;
}


#gameArea{
  width: 608px;
  height: 500px;
  background-color: #b4c4ae;
  float:left;
  margin: 5px;
  padding: 5px;
  margin-right: 0px;
}

#gameArea h2{
  margin-bottom: 0px;
}

#startGame
{
font-size: 3em;
margin-left: 16px;
}

#Question{
  border:1px solid #797a7a;
  border-radius: 10px;
  height: 190px;
  margin-top: 20px;
}
#displayQuestion{
  font-size: 1.5em;
  margin: 5px;
}
#displayAlternative{
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1.0em;
}

#answerButton{
margin-left: 5px;
}

#highscoreArea{
  width: 920px;
  height: 150px;
  float: left;
  background-color: #2C5825;
  color:white;
  margin: 5px;
  padding: 5px;
}

#highScoreHeading{
  margin:0px;
  font-size: 1.5em;
  margin-right: 10px;
  margin-bottom: 10px;
}
#highscore{
  margin:0px;
  font-size: 1em;
  margin-right: 10px;
  
}




